---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProblemSection from '../components/ProblemSection.astro';
import HowItWorks from '../components/HowItWorks.astro';
import CaptureExample from '../components/CaptureExample.astro';
import BlogPreview from '../components/BlogPreview.astro';
import InstallSection from '../components/InstallSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <ProblemSection />
    <HowItWorks />
    <CaptureExample />
    <BlogPreview />
    <InstallSection />
  </main>
  <Footer />
</Layout>
