---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import ProblemSection from '../components/ProblemSection';
import HowItWorks from '../components/HowItWorks.astro';
import CaptureExample from '../components/CaptureExample.astro';
import InstallSection from '../components/InstallSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero client:load />
    <ProblemSection client:visible />
    <HowItWorks />
    <CaptureExample />
    <InstallSection />
  </main>
  <Footer />
</Layout>
